
main > h1{
    text-align: center;
}
/* Trykkeboks */
.boks{
    background-color: rgb(20, 36, 60);
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.boks h1{
    margin: 0;
    display: inline;
    margin-left: 10px;
}
.boks:hover{
    cursor: pointer;
    background-color: rgb(17, 29, 47);
}

/* Tekst under boks */
.tekst{
    display: none;
    margin: 15px 15px;
}
.tekst h2{
    margin-block: 20px;
}
.tekst.show {
    display: block;
}

/* Pil i boks */
.fa-arrow-right{
    color: white;
    transition: transform 0.2s cubic-bezier(0.17, 0.63, 1, 1.37);
}
.fa-arrow-right.show{
    transform: rotate(90deg);
}

.bildetekst > img{
    width: 49%;
    object-fit: cover;
    height: 25vw;
}
.lydtekst > img{
    width: 100%;
    margin-block: 20px;
    border: 5px solid black ;
    border-radius: 10px;
}