
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto+Mono&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #1e3448;
}
main{
    margin: 50px auto;
    max-width: 1100px;
    padding: 30px;
}

h1, p, a{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.komp-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 23, 49);
}
.back-burger{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: 100%;
}
.burger{
    display: flex;
    align-items: center;
}
.back{
    display: flex;
}
.komponent-link{
    display: flex;
    justify-content: end;
}

.komp-nav a{
    padding: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.komponent-link a:hover{
    background-color: rgb(54, 92, 141);
}

.aktiv{
    border-bottom: 2px solid white;
}
.tilbake{
    font-size: 15px;
}
.fa-arrow-left{margin-right: 10px;}
.fa-bars{
    display: none;
    color: #81d1ff;
    font-size: 23px;
    margin: 20px 30px;
    transition: transform 0.5s;
}
.fa-bars:hover{
    cursor: pointer;
}
.komponent-link.show{
    display: flex;
}
.fa-bars.show{
    transform: rotate(270deg);
}


h1{
    color: rgb(184, 184, 184);
    text-align: center;
}
p{
    color: white;
    line-height: 30px;
    font-size: 18px;
}
.tekstbilde{
    width: 100%;
    border-radius: 8px;
}

table{
    color: white;
    border: 5px solid #174064;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
td, th{
    border: 3px solid #174064;
    padding: 1vw 2vw;
}
th{
    background-color: #1d4e79;
}
td{
    background-color: #2a6395;
}

@media(max-width: 1300px){
    .komp-nav{
        flex-direction: column;
    }
    .komponent-link{
        flex-direction: column;
        display: none;
    }
    .fa-bars{
        display: flex;
    }

}
@media (max-width: 450px){
    .back{
        flex-direction: column;
    }
}