body{
    padding: 0;
    margin: 0;
    background-color: #1e3448;
}
main{
    margin: 50px 15%;
}
h1, p, a{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.komponent-link{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.komponent-link a{
    padding: 10px;
    background-color: #181a21;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.komponent-link .hjem{
    font-size: 30px;
    color:rgb(186, 214, 255);
}

.komponent-link a:hover{
    background-color: rgb(54, 92, 141);
}

.aktiv{
    border-bottom: 2px solid white;
}
.tilbake{
    font-size: 20px;
    border: 5px solid rgb(46, 65, 150);
}

h1{
    color: rgb(184, 184, 184);
    text-align: center;
}
p{
    color: white;
    line-height: 30px;
    font-size: 18px;
}
.tekstbilde{
    width: 100%;
}

table{
    color: white;
    border: 5px solid #174064;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
td, th{
    border: 3px solid #174064;
    padding: 1vw 2vw;
}
th{
    background-color: #1d4e79;
}
td{
    background-color: #2a6395;
}

@media(max-width: 780px){
    .komponent-link{
        grid-template-columns: 1fr;
    }
}